.container {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    min-height: calc(65vh);
    word-break: keep-all;
    margin: 0 auto;
  }

  .writeContainer {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
    min-height: calc(65vh);
    word-break: keep-all;
    margin: 0 auto;
    display: flex;          /* 플렉스 박스 사용 */
    flex-direction: column;    /* 가로로 나열 */
    gap: 20px; 
  }

  .writeContainer h1 {
    margin-top: 50px;
    margin-bottom: 28px;
    color: var(--main-color);
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    font-family: "Manrope", Helvetica;
  }

 .container h1 {
    margin-top: 50px;
    margin-bottom: 28px;
    color: var(--main-color);
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    font-family: "Manrope", Helvetica;
  }
  
.buttonContainer{
    width: 100%;
    max-width: 100%;
    padding-bottom: 2%;
    min-height: calc(6vh);
    word-break: keep-all;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

  .ls {
    float: left;
  }
  
  .rs {
    min-height: 100vh;
    padding-left: 180px;
  }
  
  .datagrid {
    width: 100%;
  }
  
  .datagrid_item {
    cursor: pointer;
  }
  
  .paper {
    padding: 20px;
    flex: 1;
  }
  
  .title_row {
    height: 30px;
  }
  
  .tableRow {
    cursor: pointer;
  }

  .table_ {
    width: 100%;
    margin: 10px;
    border-collapse: collapse;
  }
  
  .table_th {
    font-size: 1.7em;
    justify-content: center; /* 가로 가운데 정렬 (필요한 경우) */
    height: 100%;           /* 부모 요소의 높이를 기준으로 가운데 정렬 */
    padding-top: 20px;
    padding-right: 10px;
  }
  
  .table_th_2 {
    font-size: 1.7em;
    text-align: left; 
    padding-left: 0;
  }
  
  .table_td_1 {
    text-align: right;
    font-size: 0.9em;
    padding: 10px 15px 40px 0px;
  }
  
  .table_td_2 {
    border-bottom: 1px solid #444444;
    padding-bottom: 30px;
    width: 100%;
    word-break: break-all;
  }
  
  .list {
    margin: 70px 10px 0px 10px;
  }
  
  .prev_next_btn {
    color: #2f5597;
    padding-right: 20px;
  }
  
  .list_item:hover {
    cursor: pointer;
    background-color: #f6f6f6;
  }
  
  .listIcon {
    float: right;
    margin: 5px 10px 30px 0px;
    cursor: pointer;
    color: white;
    background-color: #808080;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 7px;
  }