.container {
  text-align: right;
  padding-top: 15px;
  padding-bottom: 15px;
}


.edit_button {
  display: inline-block;
  margin-right: 10px;
  font-family: 'Pretendard', sans-serif;
}

.delete_button {
  display: inline-block;
  font-family: 'Pretendard', sans-serif;
}