.footer {
    background-color: var(--accent);
    color: #fff;
    padding: 40px 20px 40px 20px;
    font-family: Arial, sans-serif;
    width: 100%;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .footer-section {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 30px;
    flex: 1;
    min-width: 20vw;
  }
  
  .footer-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    white-space: normal;
    word-wrap: break-word;
  }
  
  .social-icons i {
    color: #fff;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
    font-size: 23px;
    color: #fff;
    padding-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  .footer-section p {
    margin: 5px 0;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
  }
  