.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: clamp(10px, 2vw, 20px);
  padding: clamp(10px, 2vw, 20px);
  flex-wrap: wrap; /* 요소들이 줄 바꿈되도록 설정 */
}

.frame {
  align-items: center;
  background-color: #88ffc3;
  border-radius: 43px;
  display: flex;
  gap: clamp(5px, 1vw, 10px);
  height: clamp(25px, 3vw, 35px);
  justify-content: center;
  padding: clamp(5px, 1vw, 10px) clamp(10px, 2vw, 20px);
  color: black;
}

@media (max-width: 800px) {
  .centerContainer {
    flex-wrap: wrap;
    gap: 4vw;
    justify-content: space-around;
  }
  .frame {
    flex: 1 1 45vw; /* 두 줄로 배치되도록 너비 조절 */
    max-width: 45vw;
    min-width: 10vw;
    min-height: 4vh;
  }
}