* {
  box-sizing: border-box; /* 모든 요소에 대해 box-sizing을 border-box로 설정 */
}

.handubi .space {
  height: 50px;
  position: relative;
  left: 0;
  top: 0;
}

.handubi {
  margin: 0; /* 기본 여백 제거 */
  padding: 0; /* 기본 여백 제거 */
  width: 100%;
  height: 100%; /* 화면 높이를 100%로 설정 */
  display: flex; /* flexbox를 사용하여 자식 요소가 늘어날 수 있게 설정 */
  flex-direction: column; /* 페이지 내용이 수직으로 쌓이도록 설정 */
  overflow-x: auto;
}

.handubi .div {
  display: flex;
  flex-direction: column;
  height: 100%; /* 컨테이너가 화면의 전체 높이를 차지하게 설정 */
  overflow: hidden; /* 내용이 넘치면 자동으로 스크롤바가 생기도록 설정 */
}

.handubi .parent-group {
  background-color: #fffefb;
  flex: 0 1 auto;
  flex-grow: 0; /* 공간을 자동으로 차지하지 않도록 설정 */
  flex-shrink: 0; /* 축소되지 않도록 설정 */
  
  gap: 15px;
  /* 아래 세 가지 요소가 있어야 가운데 정렬됨 */
  display: flex;
  flex-direction: column;
  align-items: center;
}


.handubi .group-18 {
  background-color: #12aa5e;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0;
  top: 0;
  text-align: center;

  flex-direction: column; /* Stack elements vertically */
  gap: 1vw; /* Adds space between elements */
}

.handubi .flex-start {
  display: flex;
  justify-content: flex-start;
}

.handubi .overlap-14 {
  background-color: #7ce0ae;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100%; /* Adjust to full width initially */
  aspect-ratio: 16 / 9; /* Maintains aspect ratio */
}

/* Responsive behavior */
@media (max-width: 768px) {
  .handubi .group-18 {
    width: 100%;
  }
  .handubi .overlap-14 {
    width: 90%; /* Adjust width for smaller screens */
  }
}


.handubi .overlap-15 {
  background-image: url(../public/static/img/rectangle-9-4.png);
  background-position: 50% 50%;
  background-size: cover;
  left: 2%;
  top: 2%;
  display: flex;
  position: relative;
  width: 40vw;
  height: auto;
  aspect-ratio: 16 / 9;
}

.handubi .group-19 {
  height: 10vh;
  left: 90vw;
  position: relative;
  display: flex;
  top: 1vh;
  width: 10vw;
}

.handubi .overlap-group-4 {
  background-color: #ffffff;
  border-radius: 33px;
  height: 40px;
  position: relative;
  width: 92px;
}

.handubi .text-wrapper {
  color: #183524;
  font-family: "Manrope", Helvetica;
  font-size: 27px;
  font-weight: 500;
  left: 27px;
  letter-spacing: -1.62px;
  line-height: 78px;
  position: absolute;
  top: 23px;
  white-space: nowrap;
}

.handubi .text-wrapper-3 {
  color: #183524;
  font-family: "Manrope", Helvetica;
  font-size: 27px;
  font-weight: 500;
  left: 26px;
  letter-spacing: -1.62px;
  line-height: 78px;
  position: absolute;
  top: 23px;
  white-space: nowrap;
}


.handubi .text-wrapper-4 {
  color: #183524;
  font-family: "Manrope", Helvetica;
  font-size: 27px;
  font-weight: 500;
  left: 32px;
  letter-spacing: -1.62px;
  line-height: 78px;
  position: absolute;
  top: 22px;
  white-space: nowrap;
}

.handubi .text-wrapper-7 {
  color: var(--text);
  font-family: "Manrope", Helvetica;
  font-weight: 500;
  letter-spacing: -2px;
  position: relative;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 30px;
  font-size: clamp(2rem, 5vw, 3rem); /* Adjust font size based on viewport */
}


.handubi .group-3 {
  height: 515px;
  left: 200px;
  position: absolute;
  top: 1275px;
  width: 1556px;
}

.handubi .text-wrapper-8 {
  color: var(--text);
  font-family: "Manrope", Helvetica;
  font-size: 40px;
  font-weight: 500;
  left: 0;
  letter-spacing: -2.4px;
  top: 3px;
  white-space: nowrap;
}

.handubi .overlap-7 {
  background-color: #f3f9f6;
  border-radius: 10px;
  height: 408px;
  left: 0;
  position: absolute;
  top: 107px;
  width: 366px;
}

.handubi .rectangle {
  width: 344px;
  height: 251px;
  object-fit: cover;
  border-radius: 10px;
}

.handubi .text-wrapper-9 {
  color: var(--text);
  font-family: "Manrope", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
}

.handubi .text-wrapper-10 {
  color: #3c3c3c;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 11px;
  letter-spacing: -0.32px;
  line-height: 78px;
  position: absolute;
  top: 311px;
  white-space: nowrap;
}

.handubi .salary-AED {
  color: #3c3c3c;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 11px;
  letter-spacing: -0.32px;
  line-height: 78px;
  position: absolute;
  top: 339px;
  white-space: nowrap;
}

.handubi .text-wrapper-11 {
  color: #3c3c3c;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 11px;
  letter-spacing: -0.32px;
  line-height: 78px;
  position: absolute;
  top: 367px;
  white-space: nowrap;
}

.handubi .overlap-8 {
  background-color: #f3f9f6;
  border-radius: 10px;
  height: 408px;
  left: 386px;
  position: absolute;
  top: 107px;
  width: 366px;
}

.handubi .overlap-9 {
  background-color: #f3f9f6;
  border-radius: 10px;
  height: 408px;
  left: 772px;
  position: absolute;
  top: 107px;
  width: 366px;
}

.handubi .overlap-10 {
  background-color: #f3f9f6;
  border-radius: 10px;
  height: 408px;
  left: 1155px;
  position: absolute;
  top: 107px;
  width: 366px;
}

.handubi .overlap-group-wrapper {
  height: 1289px;
  left: -105px;
  position: absolute;
  top: 9767px;
  width: 2130px;
}

.handubi .overlap-11 {
  height: 1289px;
  position: relative;
  width: 2134px;
}

.handubi .rectangle-2 {
  background-color: var(--accent);
  height: 526px;
  left: 105px;
  top: 763px;
  width: 1920px;
}

.handubi .group-4 {
  height: 1274px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2134px;
}

.handubi .text-wrapper-12 {
  color: var(--text);
  font-family: "Manrope", Helvetica;
  font-size: 64px;
  font-weight: 500;
  left: 757px;
  letter-spacing: -3.84px;
  line-height: 78px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.handubi .img {
  height: 480px;
  left: 105px;
  object-fit: cover;
  position: absolute;
  top: 148px;
  width: 313px;
}

.handubi .rectangle-3 {
  height: 480px;
  left: 428px;
  object-fit: cover;
  position: absolute;
  top: 148px;
  width: 418px;
}

.handubi .rectangle-4 {
  height: 480px;
  left: 856px;
  object-fit: cover;
  position: absolute;
  top: 148px;
  width: 418px;
}

.handubi .rectangle-5 {
  height: 480px;
  left: 1284px;
  object-fit: cover;
  position: absolute;
  top: 148px;
  width: 418px;
}

.handubi .rectangle-6 {
  height: 480px;
  left: 1712px;
  object-fit: cover;
  position: absolute;
  top: 149px;
  width: 313px;
}


.handubi .text-wrapper-13 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.handubi .text-wrapper-14 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 55px;
  white-space: nowrap;
}

.handubi .text-wrapper-15 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 91px;
  white-space: nowrap;
}


.handubi .group-6 {
  height: 103px;
  left: 867px;
  top: 820px;
  width: 114px;
}

.handubi .group-7 {
  height: 368px;
  left: 596px;
  top: 820px;
  width: 163px;
}

.handubi .group-9 {
  height: 236px;
  left: 1346px;
  top: 20px;
  width: 487px;
}

.handubi .group-10 {
  height: 76px;
  left: 302px;
  top: 820px;
  width: 186px;
}

.handubi .group-8 {
  height: 368px;
  position: relative;
  width: 185px;
}

.handubi .text-wrapper-16 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 59px;
  white-space: nowrap;
}

.handubi .text-wrapper-17 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 92px;
  white-space: nowrap;
}

.handubi .text-wrapper-18 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 125px;
  white-space: nowrap;
}

.handubi .text-wrapper-19 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 158px;
  white-space: nowrap;
}

.handubi .text-wrapper-20 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 191px;
  white-space: nowrap;
}

.handubi .text-wrapper-21 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 224px;
  white-space: nowrap;
}

.handubi .text-wrapper-22 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 257px;
  white-space: nowrap;
}

.handubi .text-wrapper-23 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 290px;
  white-space: nowrap;
}

.handubi .text-wrapper-24 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 323px;
  white-space: nowrap;
}

.handubi .text-wrapper-25 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 356px;
  white-space: nowrap;
}

.handubi .overlap-group-2 {
  background-color: #ffffff;
  border-radius: 14px;
  height: 236px;
  position: relative;
  width: 479px;
}

.handubi .subscribe-to-our {
  color: transparent;
  font-family: "Manrope", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 34px;
  letter-spacing: -0.96px;
  line-height: normal;
  position: absolute;
  top: 39px;
  white-space: nowrap;
}

.handubi .span {
  color: #000000;
  letter-spacing: -0.23px;
}

.handubi .text-wrapper-26 {
  color: #001419;
  letter-spacing: -0.23px;
}

.handubi .we-ll-send-you {
  color: #818181;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 34px;
  letter-spacing: 0;
  line-height: 31px;
  position: absolute;
  top: 77px;
  width: 411px;
}

.handubi .overlap-12 {
  background-color: #f3f8f3;
  border-radius: 5px;
  height: 50px;
  left: 34px;
  position: absolute;
  top: 149px;
  width: 411px;
}

.handubi .overlap-13 {
  background-color: var(--accent);
  border-radius: 0px 5px 5px 0px;
  height: 50px;
  left: 282px;
  position: absolute;
  top: 0;
  width: 129px;
}

.handubi .text-wrapper-27 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.handubi .text-wrapper-28 {
  color: #818181;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.handubi .group-11 {
  height: 22px;
  left: 0;
  position: absolute;
  top: 0;
  width: 186px;
}

.handubi .text-wrapper-29 {
  color: #fffefc;
  font-family: "Manrope", Helvetica;
  font-size: 30px;
  font-weight: 500;
  left: 0;
  letter-spacing: -1.8px;
  line-height: 78px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.handubi .group-12 {
  height: 25px;
  left: 3px;
  position: absolute;
  top: 51px;
  width: 183px;
}

.handubi .p {
  color: var(--variable-collection-faded-text);
  font-family: "Inter Tight", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 918px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 1262px;
  white-space: nowrap;
}

.handubi .group-13 {
  background-image: url(../public/static/img/line-17.svg);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 105px;
  position: absolute;
  top: 1243px;
  width: 1920px;
}




.handubi .text-wrapper-42 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 12px;
  letter-spacing: -0.16px;
  line-height: 38px;
  position: absolute;
  white-space: nowrap;
}

.handubi .GDRFA-dubai-receives {
  color: var(--text);
  font-family: "Manrope", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 16px;
  letter-spacing: -0.96px;
  line-height: 38px;
  position: absolute;
  top: 476px;
  width: 768px;
}

.handubi .text-wrapper-43 {
  color: var(--text);
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 16px;
  letter-spacing: -0.64px;
  line-height: 28px;
  position: absolute;
  top: 553px;
  width: 768px;
}

.handubi .overlap-16 {
  background-color: #f3f9f6;
  border-radius: 10px;
  height: 303px;
  left: 824px;
  position: absolute;
  top: 107px;
  width: 701px;
}

.handubi .overlap-160 {
  background-color: #f3f9f6;
  border-radius: 10px;
  height: 303px;
  left: 0px;
  position: absolute;
  top: 107px;
  width: 800px;
}

.handubi .overlap-17 {
  background-image: url(../public/static/img/rectangle-4223.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 279px;
  left: 11px;
  position: absolute;
  top: 13px;
  width: 332px;
}

.handubi .overlap-170 {
  background-image: url(../public/static/img/rectangle-98.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 279px;
  left: 11px;
  position: absolute;
  top: 13px;
  width: 332px;
}

.handubi .group-20 {
  height: 40px;
  left: 229px;
  position: relative;
  top: 14px;
  width: 94px;
}

.handubi .group-21 {
  height: 188px;
  left: 366px;
  position: absolute;
  top: 59px;
  width: 322px;
}

.handubi .group-22 {
  height: 188px;
  position: relative;
  width: 326px;
}

.handubi .GDRFA-dubai-receives-2 {
  color: var(--text);
  font-family: "Manrope", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  line-height: 26px;
  position: absolute;
  top: 0;
  width: 322px;
  text-align: left;
}

.handubi .text-wrapper-44 {
  color: var(--text);
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.64px;
  line-height: 28px;
  position: absolute;
  top: 92px;
  align-items: left;
  width: 309px;
}

.handubi .overlap-18 {
  background-color: #f3f9f6;
  border-radius: 10px;
  height: 303px;
  left: 824px;
  position: absolute;
  top: 431px;
  width: 701px;
}

.handubi .overlap-180 {
  background-color: #f3f9f6;
  border-radius: 10px;
  height: 303px;
  left: 0px;
  position: absolute;
  top: 431px;
  width: 800px;
}

.handubi .overlap-19 {
  background-image: url(../public/static/img/rectangle-4205.png);
  background-size: 100% 100%;
  height: 279px;
  left: 11px;
  position: absolute;
  top: 13px;
  width: 332px;
}

.handubi .overlap-190 {
  background-image: url(../public/static/img/rectangle-72.png);
  background-size: 100% 100%;
  height: 279px;
  left: 11px;
  position: absolute;
  top: 13px;
  width: 332px;
}

.handubi .overlap-191 {
  background-image: url(../public/static/img/rectangle-90.png);
  background-size: 100% 100%;
  height: 279px;
  left: 11px;
  position: absolute;
  top: 13px;
  width: 332px;
}

.handubi .group-23 {
  height: 40px;
  left: 229px;
  position: relative;
  top: 11px;
  width: 94px;
}

.handubi .group-24 {
    height: 734px;
    width: 1531px;
    position: relative;
    left: 0;
    top: 0;
    text-align: center;
  
}

.handubi .overlap-20 {
  background-color: #f3f9f6;
  border-radius: 10px;
  top: 107px;
  width: 366px;
  position: absolute;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 10px;
}

.handubi .text-wrapper-45,
.handubi .text-wrapper-46 {
  color: #3c3c3c;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
  line-height: 1.6;
  text-align: center;
  white-space: normal;
}
/* 
.handubi .text-wrapper-46 {
  color: #3c3c3c;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 11px;
  letter-spacing: -0.32px;
  line-height: 26px;
  position: absolute;
  top: 365px;
  white-space: nowrap;
} */

.handubi .overlap-21 {
  background-color: #f3f9f6;
  border-radius: 10px;
  height: 408px;
  left: 387px;
  position: absolute;
  padding: 16px;
  top: 107px;
  width: 366px;
  padding-top: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.handubi .overlap-22 {
  background-color: #f3f9f6;
  border-radius: 10px;
  height: 408px;
  left: 773px;
  position: absolute;
  top: 107px;
  width: 366px;
  padding-top: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.handubi .overlap-23 {
  background-color: #f3f9f6;
  border-radius: 10px;
  height: 408px;
  left: 1157px;
  position: absolute;
  top: 107px;
  width: 366px;
  padding-top: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.handubi .group-25 {
  height: 657px;
  left: 199px;
  position: absolute;
  top: 5255px;
  width: 1543px;
}

.handubi .group-26 {
  height: 35px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 1525px;
}

.handubi .text-wrapper-47 {
  color: var(--text);
  font-family: "Manrope", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 0;
  letter-spacing: -1.2px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 594px;
  white-space: nowrap;
}

.handubi .text-wrapper-48 {
  color: var(--text);
  font-family: "Manrope", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 772px;
  letter-spacing: -1.2px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 594px;
  white-space: nowrap;
}

.handubi .rectangle-7 {
  height: 454px;
  left: 2px;
  position: absolute;
  top: 110px;
  width: 748px;
}

.handubi .rectangle-8 {
  height: 454px;
  left: 775px;
  object-fit: cover;
  position: absolute;
  top: 110px;
  width: 748px;
}

.handubi .group-27 {
  height: 18px;
  left: 3px;
  position: absolute;
  top: 638px;
  width: 18px;
}

.handubi .group-28 {
  height: 18px;
  left: 775px;
  position: absolute;
  top: 638px;
  width: 18px;
}

.handubi .text-wrapper-49 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 32px;
  letter-spacing: -0.32px;
  line-height: 27px;
  position: absolute;
  top: 642px;
  white-space: nowrap;
  width: 56px;
}

.handubi .text-wrapper-50 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 804px;
  letter-spacing: -0.32px;
  line-height: 27px;
  position: absolute;
  top: 642px;
  white-space: nowrap;
  width: 56px;
}

.handubi .text-wrapper-51 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 150px;
  letter-spacing: -0.32px;
  line-height: 27px;
  position: absolute;
  top: 641px;
  white-space: nowrap;
  width: 67px;
}

.handubi .text-wrapper-52 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 922px;
  letter-spacing: -0.32px;
  line-height: 27px;
  position: absolute;
  top: 641px;
  white-space: nowrap;
  width: 67px;
}

.handubi .fi {
  height: 18px;
  left: 121px;
  position: absolute;
  top: 638px;
  width: 18px;
}

.handubi .fi-2 {
  height: 18px;
  left: 893px;
  position: absolute;
  top: 638px;
  width: 18px;
}

.handubi .text-wrapper-53 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 279px;
  letter-spacing: -0.32px;
  line-height: 27px;
  position: absolute;
  top: 641px;
  white-space: nowrap;
  width: 101px;
}

.handubi .text-wrapper-54 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 1051px;
  letter-spacing: -0.32px;
  line-height: 27px;
  position: absolute;
  top: 641px;
  white-space: nowrap;
  width: 101px;
}

.handubi .overlap-24 {
  height: 18px;
  left: 250px;
  position: absolute;
  top: 638px;
  width: 18px;
}

.handubi .group-29 {
  height: 10px;
  left: 10px;
  position: absolute;
  top: 4px;
  width: 3px;
}

.handubi .group-30 {
  height: 10px;
  left: 5px;
  position: absolute;
  top: 4px;
  width: 3px;
}

.handubi .group-31 {
  height: 3px;
  left: 6px;
  position: absolute;
  top: 4px;
  width: 1px;
}

.handubi .group-32 {
  height: 3px;
  left: 7px;
  position: absolute;
  top: 4px;
  width: 1px;
}

.handubi .group-33 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 18px;
}

.handubi .group-34 {
  height: 1px;
  left: 8px;
  position: absolute;
  top: 14px;
  width: 2px;
}

.handubi .group-35 {
  height: 8px;
  left: 13px;
  position: absolute;
  top: 5px;
  width: 2px;
}

.handubi .group-36 {
  height: 1px;
  left: 7px;
  position: absolute;
  top: 3px;
  width: 4px;
}

.handubi .group-37 {
  height: 8px;
  left: 3px;
  position: absolute;
  top: 5px;
  width: 2px;
}

.handubi .overlap-25 {
  height: 18px;
  left: 1022px;
  position: absolute;
  top: 638px;
  width: 18px;
}

.handubi .text-wrapper-55 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 1210px;
  letter-spacing: -0.32px;
  line-height: 27px;
  position: absolute;
  top: 641px;
  white-space: nowrap;
  width: 126px;
}

.handubi .group-38 {
  height: 16px;
  left: 411px;
  position: absolute;
  top: 638px;
  width: 155px;
}

.handubi .text-wrapper-56 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 27px;
  letter-spacing: -0.32px;
  line-height: 27px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
  width: 126px;
}

.handubi .vector {
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

.handubi .vector-2 {
  height: 16px;
  left: 1183px;
  position: absolute;
  top: 638px;
  width: 16px;
}

.handubi .group-39 {
  height: 491px;
  left: 198px;
  position: absolute;
  top: 6893px;
  width: 1545px;
}

.handubi .overlap-26 {
  background-color: #f3f9f6;
  border-radius: 10px;
  height: 384px;
  left: 3px;
  position: absolute;
  top: 107px;
  width: 366px;
}

.handubi .overlap-27 {
  background-color: #f3f9f6;
  border-radius: 10px;
  height: 384px;
  left: 389px;
  position: absolute;
  top: 107px;
  width: 366px;
}

.handubi .overlap-28 {
  background-color: #f3f9f6;
  border-radius: 10px;
  height: 384px;
  left: 775px;
  position: absolute;
  top: 107px;
  width: 366px;
}

.handubi .overlap-29 {
  background-color: #f3f9f6;
  border-radius: 10px;
  height: 384px;
  left: 1161px;
  position: absolute;
  top: 107px;
  width: 366px;
}

.handubi .rectangle-9 {
  height: 251px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 11px;
  width: 344px;
}

.handubi .text-wrapper-57 {
  color: var(--text);
  font-family: "Manrope", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 10px;
  letter-spacing: -0.4px;
  line-height: 78px;
  position: absolute;
  top: 281px;
  white-space: nowrap;
}

.handubi .text-wrapper-58 {
  color: #3c3c3c;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 10px;
  letter-spacing: -0.32px;
  line-height: 26px;
  position: absolute;
  top: 311px;
  width: 350px;
}

.handubi .group-40 {
  height: 515px;
  left: 199px;
  position: absolute;
  top: 7537px;
  width: 1551px;
}

.handubi .rectangle-10 {
  height: 251px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 344px;
}

.handubi .overlap-30 {
  background-color: #f3f9f6;
  border-radius: 10px;
  height: 408px;
  left: 390px;
  position: absolute;
  top: 107px;
  width: 366px;
}

.handubi .overlap-31 {
  background-color: #f3f9f6;
  border-radius: 10px;
  height: 408px;
  left: 776px;
  position: absolute;
  top: 107px;
  width: 366px;
}

.handubi .overlap-32 {
  background-color: #f3f9f6;
  border-radius: 10px;
  height: 408px;
  left: 1156px;
  position: absolute;
  top: 107px;
  width: 366px;
}

.handubi .group-41 {
  height: 550px;
  left: 200px;
  position: absolute;
  top: 9033px;
  width: 1559px;
}

.handubi .overlap-33 {
  background-color: #f3f9f6;
  border-radius: 10px;
  height: 443px;
  left: 1px;
  position: absolute;
  top: 107px;
  width: 366px;
}

.handubi .text-wrapper-59 {
  color: #3c3c3c;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 11px;
  letter-spacing: -0.32px;
  line-height: 26px;
  position: absolute;
  top: 393px;
  white-space: nowrap;
}

.handubi .overlap-34 {
  background-color: #f3f9f6;
  border-radius: 10px;
  height: 443px;
  left: 387px;
  position: absolute;
  top: 107px;
  width: 366px;
}

.handubi .overlap-35 {
  background-color: #f3f9f6;
  border-radius: 10px;
  height: 443px;
  left: 773px;
  position: absolute;
  top: 107px;
  width: 366px;
}

.handubi .overlap-36 {
  background-color: #f3f9f6;
  border-radius: 10px;
  height: 443px;
  left: 1159px;
  position: absolute;
  top: 107px;
  width: 366px;
}

.handubi .group-42 {
  height: 936px;
  left: 198px;
  position: absolute;
  top: 3498px;
  width: 1546px;
}

.handubi .group-43 {
  height: 35px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1526px;
}

.handubi .group-44 {
  height: 35px;
  position: relative;
  width: 1528px;
}

.handubi .rectangle-11 {
  height: 732px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 110px;
  width: 748px;
}

.handubi .rectangle-12 {
  height: 473px;
  left: 776px;
  object-fit: cover;
  position: absolute;
  top: 110px;
  width: 748px;
}

.handubi .text-wrapper-60 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 4px;
  letter-spacing: -0.44px;
  line-height: normal;
  position: absolute;
  top: 864px;
  white-space: nowrap;
}

.handubi .text-wrapper-61 {
  color: #000000;
  font-family: "Manrope", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 776px;
  letter-spacing: -0.44px;
  line-height: normal;
  position: absolute;
  top: 605px;
  white-space: nowrap;
}

.handubi .text-wrapper-62 {
  color: var(--variable-collection-sub-text);
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 4px;
  letter-spacing: -0.32px;
  line-height: normal;
  position: absolute;
  top: 896px;
  white-space: nowrap;
}

.handubi .text-wrapper-63 {
  color: var(--variable-collection-sub-text);
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 776px;
  letter-spacing: -0.32px;
  line-height: normal;
  position: absolute;
  top: 637px;
  white-space: nowrap;
}

.handubi .text-wrapper-64 {
  color: var(--accent);
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 21px;
  letter-spacing: -0.32px;
  line-height: normal;
  position: absolute;
  top: 924px;
  white-space: nowrap;
}

.handubi .text-wrapper-65 {
  color: var(--accent);
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 793px;
  letter-spacing: -0.32px;
  line-height: normal;
  position: absolute;
  top: 665px;
  white-space: nowrap;
}

.handubi .text-wrapper-66 {
  color: var(--accent);
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 100px;
  letter-spacing: -0.32px;
  line-height: normal;
  position: absolute;
  top: 924px;
  white-space: nowrap;
}

.handubi .text-wrapper-67 {
  color: var(--accent);
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 872px;
  letter-spacing: -0.32px;
  line-height: normal;
  position: absolute;
  top: 665px;
  white-space: nowrap;
}

.handubi .text-wrapper-68 {
  color: var(--accent);
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 179px;
  letter-spacing: -0.32px;
  line-height: normal;
  position: absolute;
  top: 924px;
  white-space: nowrap;
}

.handubi .text-wrapper-69 {
  color: var(--accent);
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 951px;
  letter-spacing: -0.32px;
  line-height: normal;
  position: absolute;
  top: 665px;
  white-space: nowrap;
}

.handubi .ellipse-2 {
  background-color: var(--accent);
  border-radius: 5.5px;
  height: 11px;
  left: 4px;
  position: absolute;
  top: 924px;
  width: 11px;
}

.handubi .ellipse-3 {
  background-color: var(--accent);
  border-radius: 5.5px;
  height: 11px;
  left: 776px;
  position: absolute;
  top: 665px;
  width: 11px;
}

.handubi .ellipse-4 {
  background-color: var(--accent);
  border-radius: 5.5px;
  height: 11px;
  left: 83px;
  position: absolute;
  top: 924px;
  width: 11px;
}

.handubi .ellipse-5 {
  background-color: var(--accent);
  border-radius: 5.5px;
  height: 11px;
  left: 855px;
  position: absolute;
  top: 665px;
  width: 11px;
}

.handubi .ellipse-6 {
  background-color: var(--accent);
  border-radius: 5.5px;
  height: 11px;
  left: 162px;
  position: absolute;
  top: 924px;
  width: 11px;
}

.handubi .ellipse-7 {
  background-color: var(--accent);
  border-radius: 5.5px;
  height: 11px;
  left: 934px;
  position: absolute;
  top: 665px;
  width: 11px;
}

.handubi .group-45 {
  background-color: var(--accent);
  border-radius: 10px;
  height: 100px;
  left: 776px;
  position: absolute;
  top: 742px;
  width: 748px;
}

.handubi .group-46 {
  height: 41px;
  left: 27px;
  position: absolute;
  top: 30px;
  width: 261px;
}

.handubi .text-wrapper-70 {
  color: #ffffff;
  font-family: "Fonetika Unlicensed Trial-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: -1px;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.handubi .text-wrapper-71 {
  color: #ffffff;
  font-family: "Fonetika Unlicensed Trial-Light", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: 0;
  letter-spacing: -0.32px;
  line-height: normal;
  position: absolute;
  top: 30px;
  white-space: nowrap;
}

.handubi .group-47 {
  height: 46px;
  left: 544px;
  position: absolute;
  top: 27px;
  width: 178px;
}

.handubi .overlap-group-5 {
  background-color: #e8ff6b;
  border-radius: 35.5px;
  height: 45px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 121px;
}

.handubi .text-wrapper-72 {
  color: #00732f;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  white-space: nowrap;
}

.handubi .vector-wrapper {
  background-color: #e8ff6b;
  border-radius: 23px;
  height: 46px;
  left: 130px;
  position: absolute;
  top: 0;
  width: 46px;
}

.handubi .vector-3 {
  height: 20px;
  left: 11px;
  position: absolute;
  top: 13px;
  width: 25px;
}

.handubi .group-48 {
  height: 675px;
  left: 199px;
  position: absolute;
  top: 6065px;
  width: 1531px;
}

.handubi .rectangle-13 {
  height: 486px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 98px;
  width: 750px;
}

.handubi .rectangle-14 {
  height: 486px;
  left: 774px;
  object-fit: cover;
  position: absolute;
  top: 98px;
  width: 750px;
}

.handubi .GDRFA-dubai-receives-3 {
  color: var(--text);
  font-family: "Manrope", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 3px;
  letter-spacing: -0.96px;
  line-height: 38px;
  position: absolute;
  top: 620px;
  width: 748px;
}

.handubi .GDRFA-dubai-receives-4 {
  color: var(--text);
  font-family: "Manrope", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 776px;
  letter-spacing: -0.96px;
  line-height: 38px;
  position: absolute;
  top: 620px;
  width: 748px;
}

.handubi .group-49 {
  height: 675px;
  left: 199px;
  position: absolute;
  top: 8205px;
  width: 1533px;
}

.handubi .overlap-37 {
  background-image: url(../public/static/img/rectangle-4221.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 565px;
  left: 514px;
  position: absolute;
  top: 110px;
  width: 494px;
}

.handubi .rectangle-15 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(1.06, 1.06, 1.06, 0.85) 100%);
  border-radius: 20px;
  height: 565px;
  left: 0;
  position: absolute;
  top: 0;
  width: 494px;
}

.handubi .text-wrapper-73 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 30px;
  letter-spacing: -0.96px;
  line-height: 38px;
  position: absolute;
  top: 476px;
  white-space: nowrap;
}

.handubi .group-50 {
  height: 16px;
  left: 30px;
  position: absolute;
  top: 513px;
  width: 155px;
}

.handubi .text-wrapper-74 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 27px;
  letter-spacing: -0.32px;
  line-height: 27px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
  width: 126px;
}

.handubi .text-wrapper-75 {
  color: var(--text);
  font-family: "Manrope", Helvetica;
  font-size: 40px;
  font-weight: 500;
  left: 1px;
  letter-spacing: -2.4px;
  line-height: 78px;
  position: absolute;
  top: 3px;
  white-space: nowrap;
}

.handubi .overlap-38 {
  background-image: url(../public/static/img/rectangle-4220.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 565px;
  left: 0;
  position: absolute;
  top: 110px;
  width: 494px;
}

.handubi .overlap-39 {
  background-image: url(../public/static/img/rectangle-4222.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 565px;
  left: 1029px;
  position: absolute;
  top: 110px;
  width: 494px;
}

.handubi .text-wrapper-76 {
  color: #ffffff;
  font-family: "Manrope", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 30px;
  letter-spacing: -0.96px;
  line-height: 38px;
  position: absolute;
  top: 469px;
  white-space: nowrap;
}

.handubi .group-51 {
  height: 16px;
  left: 30px;
  position: absolute;
  top: 506px;
  width: 155px;
}

.handubi .group-52 {
  height: 515px;
  left: 200px;
  position: absolute;
  top: 4587px;
  width: 1549px;
}

.handubi .rectangle-16 {
  height: 251px;
  left: 11px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 344px;
}

.handubi .text-wrapper-77 {
  color: #3c3c3c;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 11px;
  letter-spacing: -0.96px;
  line-height: 26px;
  position: absolute;
  top: 311px;
  width: 350px;
}

.handubi .text-wrapper-78 {
  color: #3c3c3c;
  font-family: "Manrope", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 11px;
  letter-spacing: -0.96px;
  line-height: 26px;
  position: absolute;
  top: 365px;
  white-space: nowrap;
}
