:root {
  --accent: #00732f;
  --text: #000000;
  --white-text: rgb(255, 255, 255);
  --variable-collection-faded-text: rgba(179, 185, 186, 1);
  --variable-collection-sub-text: rgba(101, 101, 101, 1);
}
